# Assignment Day 4 | Shubham Prakash

### Questions 1:
How to import pandas and check the version?

In [1]:
#to import pandas
import pandas as pd
 
#to get installed pandas version
print(pd.__version__)

1.1.4

### Questions 2:
How to create a series from a numpy array?

In [3]:
import numpy as np
print(np.__version__)
 
a = np.array([32,53,72,32,12,53,64])
s = pd.Series(a)
print(s)

1.18.5
0    32
1    53
2    72
3    32
4    12
5    53
6    64
dtype: int64

### Questions 3:
How to convert the index of a series into a column of a dataframe?

In [4]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Shubham', 'Denny', 'Shruti', 'Sarthak'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['B', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
    
df

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29  Shubham                   97     B  Physics
1     20CSE49    Denny                   90     A  Physics
2     20CSE36   Shruti                   70     C  Physics
3     20CSE44  Sarthak                   82     B  Physics

### Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
import seaborn as sb
 
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [6]:
df = sb.load_dataset('mpg')
df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [ ]:
len(df)

398

### Questions 5:
Which country origin cars are a part of this dataset?

In [7]:
u = df['origin'].unique()
print(u)

['usa' 'japan' 'europe']

### Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [13]:
df[df['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]

In [12]:
c = df['origin']
c

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

In [11]:
c=='usa'

0       True
1       True
2       True
3       True
4       True
       ...
393     True
394    False
395     True
396     True
397     True
Name: origin, Length: 398, dtype: bool